.Board {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.loader-container {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 1vmin 0;
    cursor: pointer;
}

.loader-container p {
    opacity: 0;
}

.loader-container:hover p {
    transition: all .3s ease-in;
    opacity: 1;
}

@media (max-width: 1000px) {
    .Board {
        height: 100%;
        justify-content: center;
        border: none;
    }

    .loader-container {
        width: 50%;
    }

    .loader-container p {
        opacity: 1;
    }
}